.hidden-label {
  display: none !important;
}
#map_canvas {
  width: 500px;
  height: 400px;
}
.col-sm-10 #map_canvas {
  width: 100%;
  height: 400px;
}
.guilty-pics {
  max-width: 200px;
  /*max-height: 160px;*/
}
.padding-bottom {
  padding-bottom: 5%;
}
.margin-top {
  margin-top: 1%;
}
.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
.search {
  margin-bottom: 2%;
}
.gallery-image {
  max-width:15%;
}
.bar {
  height: 18px;
  background: green;
}
.no-border > thead > tr > th,
.no-border > tbody > tr > td{
  border: 0 !important;
}
th.header.headerSortUp > span { 
  display: inline-block;
  transform: rotate(180deg);
}
th.header.headerSortDown > span{ 
  display: inline-block;
}
th.header > span{
  display: none;
}
.gray-search{
  color: rgb(119, 119, 119);
}
.main-heading{
  color: rgb(55, 62, 68) !important;
  font-weight: 600;
}
.main-body{
  color: rgb(55, 62, 68) !important;
}
.login{
  margin-top: 40px;
}
.caret-pointer{
  cursor: default;
}
.remove-item {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}